/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.container {
  max-width: 100%;
}
span.hidden-xs {
  display: inline !important;
}
#nav {
  max-width: 100%;
  overflow: visible;
}
@media (min-width: 980px) {
  li.dropdown:hover > ul.dropdown-menu {
    display: block !important;
  }
}
